@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @layer components {
    .bg-pattern {
      background-color: white;
      opacity: 0.8;
      background-image: linear-gradient(#f3f4f6 1px, transparent 1px),
        linear-gradient(to right, #f3f4f6 1px, white 1px);
      background-size: 14px 14px;
    }
    .bg-diagonal-pattern-yellow {
      background-color: transparent;
      background-size: 5px 5px;
      background-image: repeating-linear-gradient(
        45deg,
        #fcd34d 0,
        #fcd34d 2px,
        transparent 0%,
        transparent 50%
      );
    }
    .bg-diagonal-pattern-green {
      background-color: transparent;
      background-size: 5px 5px;
      background-image: repeating-linear-gradient(
        45deg,
        #86efac 0,
        #86efac 2px,
        transparent 0%,
        transparent 50%
      );
    }
    .bg-diagonal-pattern-blue {
      background-color: transparent;
      background-size: 5px 5px;
      background-image: repeating-linear-gradient(
        45deg,
        #93c5fd 0,
        #93c5fd 1px,
        transparent 0%,
        transparent 50%
      );
    }
    .bg-diagonal-pattern-pink {
      background-color: transparent;
      background-size: 5px 5px;
      background-image: repeating-linear-gradient(
        45deg,
        #f9a8d4 0,
        #f9a8d4 2px,
        transparent 0%,
        transparent 50%
      );
    }
    .bg-diagonal-pattern-sky {
      background-color: transparent;
      opacity: 2;
      background-size: 5px 5px;
      background-image: repeating-linear-gradient(
        45deg,
        #7dd3fc 0,
        #7dd3fc 1px,
        transparent 0%,
        transparent 50%
      );
    }
    .bg-diagonal-pattern-red {
      background-color: transparent;
      background-size: 5px 5px;
      background-image: repeating-linear-gradient(
        45deg,
        #fca5a5 0,
        #fca5a5 2px,
        transparent 0%,
        transparent 50%
      );
    }
    .bg-diagonal-pattern-purple {
      background-color: transparent;
      background-size: 5px 5px;
      background-image: repeating-linear-gradient(
        45deg,
        #c4b5fd 0,
        #c4b5fd 2px,
        transparent 0%,
        transparent 50%
      );
    }
    .bg-diagonal-pattern-orange {
      background-color: transparent;
      background-size: 5px 5px;
      background-image: repeating-linear-gradient(
        45deg,
        #fdba74 0,
        #fdba74 2px,
        transparent 0%,
        transparent 50%
      );
    }
    .big-grid {
      display: grid;
      grid-template-columns: repeat(64, 12px);
      grid-template-rows: repeat(48, 12px);
    }
    .medium-grid {
      display: grid;
      grid-template-columns: repeat(40, 8px);
      grid-template-rows: repeat(40, 8px);
    }
  }
}
